<app-container [config]="containerConfig">
  <div class="content">

    <form style="padding: 0 16px 16px" class="clear">
      <div>
        <md-input-container floatPlaceholder="auto" style="margin-right: 1em">
          <input mdInput placeholder="姓名" name="name" [(ngModel)]="name">
        </md-input-container>
        <md-form-field style="margin-right: 1em">
          <input mdInput [mdDatepicker]="picker" placeholder="预约日期" name="date" [(ngModel)]="date">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
        </md-form-field>
        <md-input-container floatPlaceholder="auto" style="margin-right: 1em">
          <input mdInput placeholder="预约单号" name="number" [(ngModel)]="number">
        </md-input-container>
      </div>
      <div>
        <md-select placeholder="订单状态" [(ngModel)]="status" name="status"
                   style="width: 200px;margin-right: 1em">
          <md-option *ngFor="let opt of statusList" [value]="opt.id">{{opt.name}}</md-option>
        </md-select>
        <md-select *ngIf="centerList&&centerList.length!==0" placeholder="中心" [(ngModel)]="centerId" name="center"
                   style="width: 200px;margin-right: 1em" (change)="centerChange($event)">
          <md-option *ngFor="let opt of centerList" [value]="opt.menuId">{{opt.name}}</md-option>
        </md-select>
        <md-select *ngIf="siteList&&siteList.length!==0" placeholder="站点" [(ngModel)]="siteId" name="site"
                   style="width: 200px;margin-right: 1em">
          <md-option *ngFor="let opt of siteList" [value]="opt.menuId">{{opt.name}}</md-option>
        </md-select>
        <button md-icon-button color="primary" type="button" (click)="search()">
          <md-icon>search</md-icon>
        </button>
        <button md-icon-button color="primary" type="button" (click)="reset()">
          <md-icon>autorenew</md-icon>
        </button>
      </div>
    </form>
    <div *ngIf="!appointmentTable.lists&&appointmentTable.loading">Loading...</div>
    <div *ngIf="!appointmentTable.lists&&!appointmentTable.loading&&!!appointmentTable.errorMessage" class="center">
      {{appointmentTable.errorMessage}}
    </div>
    <div *ngIf="appointmentTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="appointmentTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getData($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>

