<app-container [config]="containerConfig">
  <div class="content">
    <div class="detail-container clear">
      <h3 class="detail-title">预约信息</h3>
      <div class="grid-container">
        <div class="row">
          <div class="col-2">
            <p class="detail-content">宝宝姓名：{{data?.childDto?.name}}</p>
          </div>
          <div class="col-2">
            <p class="detail-content">性别：{{data?.childDto?.sex}}</p>
          </div>
          <div class="col-2">
            <p class="detail-content">出生日期：{{data?.childDto?.birthDate}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <p class="detail-content">证件类型：{{data?.childDto?.cardNo}}</p>
          </div>
          <div class="col-4">
            <p class="detail-content">证件号码：{{data?.childDto?.documentNumber}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="detail-content">户籍地址：{{data?.childDto?.permanentAddress}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="detail-content">家长姓名：{{data?.motherName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="detail-content">手机号：{{data?.motherTelephone}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="detail-content">预约医院：{{data?.hospitalName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="detail-content">预约时间：{{data?.reservationDate}} {{data?.reservationTimePeriod}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="detail-content">预约单号：{{data?.planImmunizationNum}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="detail-content">订单状态：
              <span *ngIf="data?.status==0">预约中</span>
              <span *ngIf="data?.status==1">正常接种</span>
              <span *ngIf="data?.status==2">用户取消</span>
              <span *ngIf="data?.status==3">接种取消</span>
              <span *ngIf="data?.status==4">接种爽约</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-container clear">
      <h3 class="detail-title">预约登记</h3>
      <form class="form-content" *ngIf="data">
        <div class="input-content">
          <mat-radio-group [(ngModel)]="status" name="status" [disabled]="data?.status!==0||data.operation==0">
            <mat-radio-button value="2" *ngIf="data?.status!==0||data.operation==0">用户取消</mat-radio-button>
            <mat-radio-button value="1">正常接种</mat-radio-button>
            <mat-radio-button value="3">接种取消</mat-radio-button>
            <mat-radio-button value="4">接种爽约</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="input-dialog" *ngIf="data.status==0&&data.operation==1&&status=='3'">
          <div class="dialog-content">
            <p>请选择或填写不通过原因</p>
            <mat-radio-group *ngIf="status=='3'" [(ngModel)]="reasonRadio" name="option">
              <mat-radio-button value="身体不适">身体不适</mat-radio-button>
              <mat-radio-button value="门诊时间错误">门诊时间错误</mat-radio-button>
              <mat-radio-button value="未及时现场办">未及时现场办</mat-radio-button>
              <mat-radio-button value="0">其他，请填写</mat-radio-button>
            </mat-radio-group>
            <mat-form-field floatPlaceholder="always"
                            *ngIf="reasonRadio=='0'&&status=='3'"
                            style="width:100%;padding: 15px 0">
                <textarea matInput rows="5" placeholder="取消原因" [(ngModel)]="reason" name="reason"
                          style="resize: none"></textarea>
            </mat-form-field>
            <div class="dialog-footer" *ngIf="data.status==0&&data.operation==1">
              <button mat-raised-button color="primary" type="button" (click)="saveStatus()"
                      [disabled]="!(status==1||status==4||(status==3&&(reasonRadio&&reasonRadio!='0'||reason)))">保存
              </button>
              <button mat-raised-button type="button" (click)="cancel()" style="margin-left: 15px">取消</button>
            </div>
          </div>
        </div>
        <div class="input-content" *ngIf="data.status==3">
          <mat-form-field style="width:280px">
                <textarea matInput rows="5" placeholder="取消原因" [(ngModel)]="reason" name="reason"
                          style="resize: none" disabled></textarea>
          </mat-form-field>
        </div>
        <div class="input-content" *ngIf="data.status==0&&data.operation==1">
          <button mat-raised-button color="primary" type="button" (click)="saveStatus()"
                  [disabled]="!(status==1||status==4||(status==3&&(reasonRadio&&reasonRadio!='0'||reason)))">保存
          </button>
        </div>
      </form>
    </div>
  </div>
</app-container>
