@import '../../../../libs/theme/theme';

.detail-container {
  padding-bottom: 30px;
}

.detail-title {
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 2px solid $color-primary;
  font-size: 24px;
}

.detail-content {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
