<app-container [config]="containerConfig">
  <div class="content">
    <md-tab-group dynamicHeight="true">
      <md-tab label="预约详情">
        <div class="detail-container">
          <h3 class="detail-title">预约信息</h3>
          <md-grid-list cols="6" gutterSize="15px" rowHeight="30px">
            <md-grid-tile colspan="2"><p class="detail-content">姓名：{{data?.name}}</p></md-grid-tile>
            <md-grid-tile colspan="2"><p class="detail-content">性别：{{data?.sex}}</p></md-grid-tile>
            <md-grid-tile colspan="2"><p class="detail-content">出生日期：{{data?.birthStr}}</p></md-grid-tile>
            <md-grid-tile colspan="2"><p class="detail-content">证件类型：{{data?.cardTypeNo}}</p></md-grid-tile>
            <md-grid-tile colspan="2"><p class="detail-content">证件号码：{{data?.cardNo}}</p></md-grid-tile>
            <md-grid-tile colspan="2"><p class="detail-content">国籍：{{data?.nationality}}</p></md-grid-tile>
            <md-grid-tile colspan="2"><p class="detail-content">民族：{{data?.nation}}</p></md-grid-tile>
            <md-grid-tile colspan="2"><p class="detail-content">文化程度：{{data?.culture}}</p></md-grid-tile>
            <md-grid-tile colspan="2"><p class="detail-content">职业：{{data?.profession}}</p></md-grid-tile>
            <md-grid-tile colspan="6"><p class="detail-content">联系电话：{{data?.tel}}</p></md-grid-tile>
            <md-grid-tile colspan="6"><p class="detail-content">户籍地址：{{data?.householdAddr}}</p></md-grid-tile>
            <md-grid-tile colspan="6"><p class="detail-content">现住地址：{{data?.presentAddr}}</p></md-grid-tile>
            <md-grid-tile colspan="6"><p class="detail-content">领取地点：{{data?.hospitalName}}</p></md-grid-tile>
            <md-grid-tile colspan="6"><p class="detail-content">领取时间：{{data?.reservationTimeStr}}</p></md-grid-tile>
          </md-grid-list>
        </div>
        <div class="detail-container">
          <h3 class="detail-title">审核结果</h3>
          <form class="form-content" *ngIf="data">
            <div class="input-content">
              <md-radio-group [(ngModel)]="status" name="status" [disabled]="data?.checked!=0">
                <md-radio-button value="1">通过</md-radio-button>
                <md-radio-button value="2">不通过</md-radio-button>
              </md-radio-group>
            </div>
            <div class="input-content" *ngIf="data.checked==0">
              <div>
                <md-radio-group *ngIf="status=='2'" [(ngModel)]="reasonRadio" name="option">
                  <md-radio-button value="户籍不属于我中心管辖地段">户籍不属于我中心管辖地段</md-radio-button>
                  <md-radio-button value="资料提供不全">资料提供不全</md-radio-button>
                  <md-radio-button value="0">其他，请填写</md-radio-button>
                </md-radio-group>
              </div>
              <md-form-field *ngIf="reasonRadio=='0'" style="width:280px;padding: 15px 0">
                <textarea mdInput rows="5" placeholder="不通过原因" [(ngModel)]="reason" name="reason"
                          style="resize: none"></textarea>
              </md-form-field>
            </div>
            <div class="input-content" *ngIf="data.checked==2">
              <md-form-field style="width:280px">
                <textarea mdInput rows="5" placeholder="不通过原因" [(ngModel)]="reason" name="reason"
                          style="resize: none" disabled></textarea>
              </md-form-field>
            </div>
            <div class="input-content" *ngIf="data.checked==0">
              <button md-raised-button color="primary" type="button" (click)="saveStatus()"
                      [disabled]="!(status==1||(status==2&&(reasonRadio&&reasonRadio!='0'||reason)))">保存
              </button>
            </div>
          </form>
        </div>
      </md-tab>
      <md-tab label="问卷调查">
        <div #surveydiv>
          <div *ngIf="survey" class="survey-container">
            <h3 class="survey-title">北京市增补叶酸预防神经管缺陷项目知识调查问卷</h3>
            <p class="survey-p">本调查不涉及个人隐私，主要目的是了解您对叶酸相关知识的知晓情况，为出生缺陷防治项目提供干预效果评价的证据性依据。</p>
            <p class="survey-p">请认真填写每个问题，谢谢您的配合！</p>
            <div class="survey-info">
              <p><span style="padding-right: 50px">姓名：{{survey.name}}</span> 年龄：{{survey.age}}</p>
              <p>现家庭住址：{{survey.presentAddr}} </p>
              <p>叶酸领取地：{{survey.hospitalName}} </p>
            </div>
            <ul class="survey-list">
              <li *ngFor="let obj of survey.surveyDtoList">
                <p class="survey-question">{{obj.question}}</p>
                <ul>
                  <li *ngFor="let opt of obj.survey_option">
                    <p class="survey-answer" [class.active]="opt.id==obj.answer">
                      <!--<md-icon *ngIf="opt.id!=obj.answer">radio_button_unchecked</md-icon>-->
                      <!--<md-icon *ngIf="opt.id==obj.answer">radio_button_checked</md-icon>-->
                      <span *ngIf="opt.id!=obj.answer" class="cycle_unchecked"></span>
                      <span *ngIf="opt.id==obj.answer" class="cycle_checked">
                        <i class="cycle_checked_child"></i>
                      </span>
                      <span>{{opt.options}}</span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div style="padding: 0 15px 30px" *ngIf="survey">
          <button md-raised-button color="primary" (click)="printSurvey(surveydiv)">打印</button>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</app-container>
