<app-container [config]="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">添加账号</button>
  </div>
  <div class="content">
    <form class="clear" style="padding: 0 16px">
      <mat-form-field floatPlaceholder="always" style="float:left;width: 40%;padding-right: 1em">
        <input matInput placeholder="姓名" name="username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" style="float:left;margin-right: 1em;width: 40%">
        <input matInput placeholder="手机号码" name="telephone" [(ngModel)]="telephone">
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" style="float:left;margin-right: 1em;width: 80%"
                      *ngIf="centerList&&centerList.length!==0">
        <mat-select placeholder="中心" [(ngModel)]="centerId" name="center"
                    (change)="centerChange($event)"
                    (onOpen)="centerChange({value:centerId})">
          <mat-option *ngFor="let opt of centerList" [value]="opt.menuId">{{opt.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" style="float:left;margin-right: 1em;width: 80%"
                      *ngIf="siteList&&siteList.length!==0">
        <mat-select placeholder="站点" [(ngModel)]="siteId" name="site">
          <mat-option *ngFor="let opt of siteList" [value]="opt.menuId">{{opt.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button style="float:left" mat-icon-button color="primary" type="button" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <button style="float:left" mat-icon-button color="primary" type="button" (click)="reset()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </form>
    <div *ngIf="!accountTable.lists&&accountTable.loading">Loading...</div>
    <div *ngIf="!accountTable.lists&&!accountTable.loading&&!!accountTable.errorMessage" class="center">
      {{accountTable.errorMessage}}
    </div>
    <div *ngIf="accountTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="accountTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getAccounts($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
