<app-container [config]="containerConfig">
  <div class="addition">
    <button md-raised-button (click)="newData()">添加账号</button>
  </div>
  <div class="content">
    <form style="padding: 0 16px">
      <div>
        <md-input-container floatPlaceholder="auto" style="margin-right: 1em;width: 400px">
          <input mdInput placeholder="姓名" name="username" [(ngModel)]="username">
        </md-input-container>
        <md-input-container floatPlaceholder="auto" style="margin-right: 1em;width: 400px">
          <input mdInput placeholder="手机号码" name="telephone" [(ngModel)]="telephone">
        </md-input-container>
      </div>
      <div style="margin-bottom: 16px">
        <md-select *ngIf="centerList&&centerList.length!==0" placeholder="中心" [(ngModel)]="centerId" name="center"
                   style="width: 820px;margin-right: 1em" (change)="centerChange($event)">
          <md-option *ngFor="let opt of centerList" [value]="opt.menuId">{{opt.name}}</md-option>
        </md-select>
      </div>
      <div style="margin-bottom: 16px">
        <md-select *ngIf="siteList&&siteList.length!==0" placeholder="站点" [(ngModel)]="siteId" name="site"
                   style="width: 820px;margin-right: 1em">
          <md-option *ngFor="let opt of siteList" [value]="opt.menuId">{{opt.name}}</md-option>
        </md-select>
        <button md-icon-button color="primary" type="button" (click)="search()">
          <md-icon>search</md-icon>
        </button>
        <button md-icon-button color="primary" type="button" (click)="reset()">
          <md-icon>autorenew</md-icon>
        </button>
      </div>
    </form>
    <div *ngIf="!accountTable.lists&&accountTable.loading">Loading...</div>
    <div *ngIf="!accountTable.lists&&!accountTable.loading&&!!accountTable.errorMessage" class="center">
      {{accountTable.errorMessage}}
    </div>
    <div *ngIf="accountTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="accountTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getAccounts($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
