<app-container [config]="containerConfig">
  <div class="content">
    <form style="padding: 0 16px">
      <mat-input-container floatPlaceholder="always" style="margin-right: 1em">
        <input matInput placeholder="联系电话" name="tel" [(ngModel)]="tel">
      </mat-input-container>
      <app-search style="width: 300px;margin-right: 1em" [type]="'1'" [label]="'请选择提交时间'"
                  [(value)]="queryTime"></app-search>
      <button mat-icon-button color="primary" type="button" (click)="getFeedbacks(0)">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button" (click)="reset()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </form>
    <div *ngIf="!feedbackTable.lists&&feedbackTable.loading">Loading...</div>
    <div *ngIf="!feedbackTable.lists&&!feedbackTable.loading&&!!feedbackTable.errorMessage" class="center">
      {{feedbackTable.errorMessage}}
    </div>
    <div *ngIf="feedbackTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="feedbackTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getFeedbacks($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
