<app-container [config]="containerConfig">
  <div class="content">
    <md-grid-list cols="2" rowHeight="fit" gutterSize="30" class="grid">
      <md-grid-tile>
        <div class="container">
          <div class="tree__title clear">
            <h3 class="p">医院机构列表</h3>
            <button class="button" md-button color="primary" (click)="offData(menuList)">全部折叠</button>
            <button class="button" md-button color="primary" (click)="openData(menuList)">全部展开</button>
          </div>
          <div *ngIf="menuList&&menuList.level==0">
            <div class="clear tree__p">
              <md-icon class="tree__icon" (click)="toggle(menuList)" *ngIf="!menuList.open">add</md-icon>
              <md-icon class="tree__icon" (click)="toggle(menuList)" *ngIf="menuList.open">remove</md-icon>
              <p class="tree__span" [class.active]="menuList.active"
                 (click)="newCenter(menuList.menuId,menuList.menuName)">
                {{menuList.menuName}}
              </p>
            </div>
            <ul *ngIf="menuList.children&&menuList.open" class="tree__list">
              <li *ngFor="let menu of menuList.children">
                <div class="clear tree__p">
                  <md-icon class="tree__icon" (click)="toggle(menu)" *ngIf="!menu.open">add</md-icon>
                  <md-icon class="tree__icon" (click)="toggle(menu)" *ngIf="menu.open">remove</md-icon>
                  <p class="tree__span" [class.active]="menu.active" (click)="newSite(menu.menuId, menu.menuName)">
                    {{menu.menuName}}
                  </p>
                  <button md-icon-button color="primary" (click)="updateCenter(menu)">
                    <md-icon aria-label="edit">mode_edit</md-icon>
                  </button>
                </div>
                <ul *ngIf="menu.children&&menu.open" class="tree__list">
                  <li *ngFor="let subMenu of menu.children">
                    <div class="clear tree__p">
                      <md-icon class="tree__icon" (click)="toggle(subMenu)" *ngIf="!subMenu.open">add</md-icon>
                      <md-icon class="tree__icon" (click)="toggle(subMenu)" *ngIf="subMenu.open">remove</md-icon>
                      <p class="tree__span" [class.active]="subMenu.active"
                         (click)="newDepartment(subMenu.menuId, subMenu.menuName)">
                        {{subMenu.menuName}}
                      </p>
                      <button md-icon-button color="primary" (click)="updateSite(subMenu)">
                        <md-icon aria-label="edit">mode_edit</md-icon>
                      </button>
                    </div>
                    <ul *ngIf="subMenu.children&&subMenu.open" class="tree__list">
                      <li *ngFor="let sSubMenu of subMenu.children">
                        <div class="clear tree__p">
                          <md-icon class="tree__icon last">remove</md-icon>
                          <p class="tree__span last">{{sSubMenu.menuName}}</p>
                          <button md-icon-button color="primary" (click)="updateDepartment(sSubMenu)">
                            <md-icon aria-label="edit">mode_edit</md-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div *ngIf="menuList&&menuList.level==1">
            <div class="clear tree__p">
              <md-icon class="tree__icon" (click)="toggle(menuList)" *ngIf="!menuList.open">add</md-icon>
              <md-icon class="tree__icon" (click)="toggle(menuList)" *ngIf="menuList.open">remove</md-icon>
              <p class="tree__span" [class.active]="menuList.active"
                 (click)="newSite(menuList.menuId, menuList.menuName)">
                {{menuList.menuName}}
              </p>
              <button md-icon-button color="primary" (click)="updateCenter(menuList)">
                <md-icon aria-label="edit">mode_edit</md-icon>
              </button>
            </div>
            <ul *ngIf="menuList.children&&menuList.open" class="tree__list">
              <li *ngFor="let subMenu of menuList.children">
                <div class="clear tree__p">
                  <md-icon class="tree__icon" (click)="toggle(subMenu)" *ngIf="!subMenu.open">add</md-icon>
                  <md-icon class="tree__icon" (click)="toggle(subMenu)" *ngIf="subMenu.open">remove</md-icon>
                  <p class="tree__span" [class.active]="subMenu.active"
                     (click)="newDepartment(subMenu.menuId, subMenu.menuName)">
                    {{subMenu.menuName}}
                  </p>
                  <button md-icon-button color="primary" (click)="updateSite(subMenu)">
                    <md-icon aria-label="edit">mode_edit</md-icon>
                  </button>
                </div>
                <ul *ngIf="subMenu.children&&subMenu.open" class="tree__list">
                  <li *ngFor="let sSubMenu of subMenu.children">
                    <div class="clear tree__p">
                      <md-icon class="tree__icon last">remove</md-icon>
                      <p class="tree__span last">{{sSubMenu.menuName}}</p>
                      <button md-icon-button color="primary" (click)="updateDepartment(sSubMenu)">
                        <md-icon aria-label="edit">mode_edit</md-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div *ngIf="menuList&&menuList.level==2">
            <div class="clear tree__p">
              <md-icon class="tree__icon" (click)="toggle(menuList)" *ngIf="!menuList.open">add</md-icon>
              <md-icon class="tree__icon" (click)="toggle(menuList)" *ngIf="menuList.open">remove</md-icon>
              <p class="tree__span" [class.active]="menuList.active"
                 (click)="newDepartment(menuList.menuId, menuList.menuName)">
                {{menuList.menuName}}
              </p>
              <button md-icon-button color="primary" (click)="updateSite(menuList)">
                <md-icon aria-label="edit">mode_edit</md-icon>
              </button>
            </div>
            <ul *ngIf="menuList.children&&menuList.open" class="tree__list">
              <li *ngFor="let sSubMenu of menuList.children">
                <div class="clear tree__p">
                  <md-icon class="tree__icon last">remove</md-icon>
                  <p class="tree__span last">{{sSubMenu.menuName}}</p>
                  <button md-icon-button color="primary" (click)="updateDepartment(sSubMenu)">
                    <md-icon aria-label="edit">mode_edit</md-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="menuList&&menuList.level==3">
            <div class="clear tree__p">
              <md-icon class="tree__icon last">remove</md-icon>
              <p class="tree__span last">{{menuList.menuName}}</p>
              <button md-icon-button color="primary" (click)="updateDepartment(menuList)">
                <md-icon aria-label="edit">mode_edit</md-icon>
              </button>
            </div>
          </div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="container" *ngIf="form">
          <div class="tree__title clear">
            <h3 class="p">{{title}}</h3>
          </div>
          <app-form [formDatas]="form" (formValues)="getValues($event)"></app-form>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</app-container>
