<app-container [config]="containerConfig">
  <div class="content">
    <div class="grid-container clear">
      <div class="row">
        <div class="col-3">
          <div class="container" style="overflow: auto">
            <div class="tree__title clear">
              <h3 class="p">医院机构列表</h3>
              <button class="button" mat-button color="primary" (click)="offData(menuList)">全部折叠</button>
              <button class="button" mat-button color="primary" (click)="openData(menuList)">全部展开</button>
            </div>
            <div class="tree__des clear">
              <span>科室<mat-icon class="tree__icon type department">lens</mat-icon></span>
              <span>站点<mat-icon class="tree__icon type site">lens</mat-icon></span>
              <span>中心<mat-icon class="tree__icon type center">lens</mat-icon></span>
            </div>
            <div class="menu__list" *ngIf="menuList&&menuList.level==0">
              <!--昌平卫计委-->
              <app-tree-node
                [menu]="menuList"
                type="root"
                permission="permission"
                (toggleEmitter)="toggle($event)"
                (newEmitter)="newCenter($event.menuId, $event.menuName)"
              ></app-tree-node>
              <ul *ngIf="menuList.children&&menuList.open" class="tree__list">
                <li *ngFor="let menu of menuList.children" class="clear">
                  <!--中心-->
                  <app-tree-node
                    *ngIf="menu.type==1"
                    [menu]="menu"
                    type="center"
                    permission="permission"
                    (toggleEmitter)="toggle($event)"
                    (newEmitter)="newSite($event.menuId, $event.menuName)"
                    (updateEmitter)="updateCenter($event)"
                  ></app-tree-node>
                  <app-tree-node
                    *ngIf="menu.type==2"
                    [menu]="menu"
                    type="site"
                    permission="permission"
                    (toggleEmitter)="toggle($event)"
                    (newEmitter)="newDepartment($event.menuId, $event.menuName)"
                    (updateEmitter)="updateSite($event)"
                  ></app-tree-node>
                  <app-tree-node
                    *ngIf="menu.type==3"
                    [menu]="menu"
                    type="department"
                    permission="permission"
                    (updateEmitter)="updateDepartment($event)"
                  ></app-tree-node>
                  <ul *ngIf="menu.children&&menu.open" class="tree__list">
                    <li *ngFor="let subMenu of menu.children" class="clear">
                      <!--站点-->
                      <app-tree-node
                        *ngIf="subMenu.type==2"
                        [menu]="subMenu"
                        type="site"
                        permission="permission"
                        (toggleEmitter)="toggle($event)"
                        (newEmitter)="newDepartment($event.menuId, $event.menuName)"
                        (updateEmitter)="updateSite($event)"
                      ></app-tree-node>
                      <app-tree-node
                        *ngIf="subMenu.type==3"
                        [menu]="subMenu"
                        type="department"
                        permission="permission"
                        (updateEmitter)="updateDepartment($event)"
                      ></app-tree-node>
                      <ul *ngIf="subMenu.children&&subMenu.open" class="tree__list">
                        <li *ngFor="let sSubMenu of subMenu.children" class="clear">
                          <!--科室-->
                          <app-tree-node
                            [menu]="sSubMenu"
                            type="department"
                            permission="permission"
                            (updateEmitter)="updateDepartment($event)"
                          ></app-tree-node>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="menu__list" *ngIf="menuList&&menuList.level==1">
              <!--中心-->
              <app-tree-node
                *ngIf="menuList.type==1"
                [menu]="menuList"
                type="center"
                permission="permission"
                (toggleEmitter)="toggle($event)"
                (newEmitter)="newSite($event.menuId, $event.menuName)"
                (updateEmitter)="updateCenter($event)"
              ></app-tree-node>
              <app-tree-node
                *ngIf="menuList.type==2"
                [menu]="menuList"
                type="site"
                permission="permission"
                (toggleEmitter)="toggle($event)"
                (newEmitter)="newDepartment($event.menuId, $event.menuName)"
                (updateEmitter)="updateSite($event)"
              ></app-tree-node>
              <app-tree-node
                *ngIf="menuList.type==3"
                [menu]="menuList"
                type="department"
                permission="permission"
                (updateEmitter)="updateDepartment($event)"
              ></app-tree-node>
              <ul *ngIf="menuList.children&&menuList.open" class="tree__list">
                <li *ngFor="let subMenu of menuList.children" class="clear">
                  <!--站点-->
                  <app-tree-node
                    *ngIf="subMenu.type==2"
                    [menu]="subMenu"
                    type="site"
                    permission="permission"
                    (toggleEmitter)="toggle($event)"
                    (newEmitter)="newDepartment($event.menuId, $event.menuName)"
                    (updateEmitter)="updateSite($event)"
                  ></app-tree-node>
                  <app-tree-node
                    *ngIf="subMenu.type==3"
                    [menu]="subMenu"
                    type="department"
                    permission="permission"
                    (updateEmitter)="updateDepartment($event)"
                  ></app-tree-node>
                  <ul *ngIf="subMenu.children&&subMenu.open" class="tree__list">
                    <li *ngFor="let sSubMenu of subMenu.children" class="clear">
                      <!--科室-->
                      <app-tree-node
                        [menu]="sSubMenu"
                        type="department"
                        permission="permission"
                        (updateEmitter)="updateDepartment($event)"
                      ></app-tree-node>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="menu__list" *ngIf="menuList&&menuList.level==2">
              <!--站点-->
              <app-tree-node
                [menu]="menuList"
                type="site"
                permission="permission"
                (toggleEmitter)="toggle($event)"
                (newEmitter)="newDepartment($event.menuId, $event.menuName)"
                (updateEmitter)="updateSite($event)"
              ></app-tree-node>
              <ul *ngIf="menuList.children&&menuList.open" class="tree__list">
                <li *ngFor="let sSubMenu of menuList.children" class="clear">
                  <!--科室-->
                  <app-tree-node
                    [menu]="sSubMenu"
                    type="department"
                    permission="permission"
                    (updateEmitter)="updateDepartment($event)"
                  ></app-tree-node>
                </li>
              </ul>
            </div>
            <div class="menu__list" *ngIf="menuList&&menuList.level==3">
              <!--科室-->
              <app-tree-node
                [menu]="sSubMenu"
                type="department"
                permission="permission"
                (updateEmitter)="updateDepartment($event)"
              ></app-tree-node>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="container" *ngIf="form&&flag==0">
            <div class="tree__title clear">
              <h3 class="p">{{title}}</h3>
            </div>
            <div class="menu__form">
              <app-form [formDatas]="form" (formValues)="getValues($event)"></app-form>
            </div>
          </div>
          <div class="container" *ngIf="form&&formTwo&&flag==1">
            <mat-tab-group dynamicHeight="true" style="padding-top: 6px">
              <mat-tab label="添加站点">
                <div class="menu__form tab">
                  <app-form [formDatas]="form" (formValues)="getValues($event)"></app-form>
                </div>
              </mat-tab>
              <mat-tab label="添加科室">
                <div class="menu__form tab">
                  <app-form [formDatas]="formTwo" (formValues)="getValues($event)"></app-form>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="container" *ngIf="form&&formTwo&&formThree&&flag==2">
            <mat-tab-group dynamicHeight="true" style="padding-top: 6px">
              <mat-tab label="添加中心">
                <div class="menu__form tab">
                  <app-form [formDatas]="form" (formValues)="getValues($event)"></app-form>
                </div>
              </mat-tab>
              <mat-tab label="添加站点">
                <div class="menu__form tab">
                  <app-form [formDatas]="formTwo" (formValues)="getValues($event)"></app-form>
                </div>
              </mat-tab>
              <mat-tab label="添加科室">
                <div class="menu__form tab">
                  <app-form [formDatas]="formThree" (formValues)="getValues($event)"></app-form>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-container>
