<div class="flex__container">
  <div class="flex__main">
    <div class="content">
      <p [class.active]="menu.active"
         [class.pointer]="type!='department'"
         (click)="new(menu)">
        {{menu.menuName}}
      </p>
    </div>
  </div>
  <div class="flex__sub">
    <mat-icon class="flex__icon" (click)="toggle(menu)" *ngIf="!menu.open&&menu.children">add</mat-icon>
    <mat-icon class="flex__icon" (click)="toggle(menu)" *ngIf="menu.open&&menu.children">remove</mat-icon>
    <mat-icon class="flex__icon block" *ngIf="!menu.children">block</mat-icon>
    <mat-icon
      class="flex__icon type"
      [class.center]="type=='center'"
      [class.site]="type=='site'"
      [class.department]="type=='department'">lens
    </mat-icon>
    <span *ngIf="menu.enable==1" class="span__disable"></span>
    <span *ngIf="menu.enable==0" class="span__enable"></span>
  </div>
  <div class="flex__extra">
    <button mat-icon-button color="primary" (click)="update(menu)" *ngIf="permission&&type!='root'">
      <mat-icon>mode_edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="update(menu)" *ngIf="!permission&&type!='root'">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>
</div>
