<app-container [config]="containerConfig">
  <div class="addition">
    <button md-raised-button (click)="newData()" >添加首页资讯</button>
  </div>
  <div class="content">
    <form style="padding: 0 16px">
      <md-input-container floatPlaceholder="auto" style="margin-right: 1em">
        <input mdInput placeholder="文章标题" name="title" [(ngModel)]="title">
      </md-input-container>
      <md-select placeholder="状态" [(ngModel)]="status" name="center"
                 style="width: 200px;margin-right: 1em">
        <md-option *ngFor="let opt of statusList" [value]="opt.id">{{opt.name}}</md-option>
      </md-select>
     <button md-icon-button color="primary" type="button" (click)="getHomeArticles(0)">
        <md-icon>search</md-icon>
      </button>
      <button md-icon-button color="primary" type="button" (click)="reset()">
        <md-icon>autorenew</md-icon>
      </button>
    </form>
    <div *ngIf="!homeArticleTable.lists&&homeArticleTable.loading">Loading...</div>
    <div *ngIf="!homeArticleTable.lists&&!homeArticleTable.loading&&!!homeArticleTable.errorMessage" class="center">
      {{homeArticleTable.errorMessage}}
    </div>
    <div *ngIf="homeArticleTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="homeArticleTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getHomeArticles($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
