<md-toolbar color="primary" class="app-toolbar">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <h1>{{app.title}}</h1>
  <span class="toolbar__spacer"></span>
  <span class="toolbar__info">你好，{{username | async}} ！</span>
  <span class="toolbar__pwd" (click)="changePwd()">修改密码</span>
  <button md-mini-fab (click)="logout()">退出</button>
</md-toolbar>
<md-sidenav-container class="app-container">
  <md-sidenav #sidenav mode="side" opened="true" class="app-nav">
    <nav id="container" class="nav__container">
      <ul class="nav__list" *ngIf="navigation">
        <li *ngFor="let menu of navigation | async">
          <div class="nav__item" [class.open]="menu.open">
            <div class="nav__title">
              <a *ngIf="!menu.children||(menu.children&&menu.children.length===0)"
                 routerLinkActive="active"
                 [routerLink]="[menu.href]">
                {{menu.menuName}}
              </a>
              <span *ngIf="menu.children&&menu.children.length!==0"
                    (click)="toggleSub(menu)">
                {{menu.menuName}}
                <md-icon>chevron_right</md-icon>
              </span>
            </div>
          </div>
          <ul class="nav-sub__list" *ngIf="menu.children&&menu.children.length!==0">
            <li class="nav-sub__item" *ngFor="let subMenu of menu.children">
              <div class="nav-sub__title">
                <a routerLinkActive="active" [routerLink]="[subMenu.href]">
                  {{subMenu.menuName}}
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </md-sidenav>
  <div class="app-main">
    <ng-content></ng-content>
  </div>
</md-sidenav-container>
