@import '../../../libs/theme/theme';

.input-content {
  padding: 15px 0;
  label, mat-radio-button {
    padding-right: 15px;
  }
}

.input-type {
  padding-bottom: 15px;
}

.tab-content {
  padding: 15px;
}

.detail-container {
  padding-bottom: 30px;
}

.detail-title {
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 2px solid $color-primary;
  font-size: 18px;
  button {
    margin-left: 15px;
    color: $color-primary;
  }
}

.detail-content {
  width: 100%;
  padding: 5px 0;
  line-height: 1.5;
  word-break: break-all;
}

