<app-container [config]="containerConfig">
  <div class="content">
    <form style="padding: 0 16px 16px" class="clear">
      <mat-form-field floatPlaceholder="always" style="float: left;width: 16%;padding-right: 1em">
        <input matInput placeholder="姓名" name="name" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" style="float: left;width: 16%;padding-right: 1em">
        <input matInput placeholder="联系电话" name="phone" [(ngModel)]="phone">
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" style="float: left;width: 16%;padding-right: 1em">
        <input matInput placeholder="证件号码" name="cardNo" [(ngModel)]="cardNo">
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" style="float: left;width: 16%;padding-right: 1em">
        <input matInput placeholder="预约单号" name="number" [(ngModel)]="number">
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" style="float: left;width: 16%;;margin-right: 1em">
        <mat-select placeholder="审核状态" [(ngModel)]="status" name="status">
          <mat-option *ngFor="let opt of statusList" [value]="opt.id">{{opt.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" *ngIf="centerList&&centerList.length!==0"
                      style="float: left;width: 80%;;margin-right: 1em">
        <mat-select placeholder="中心" [(ngModel)]="centerId" name="center"
                    (change)="centerChange($event)"
                    (onOpen)="centerChange({value:centerId})">
          <mat-option *ngFor="let opt of centerList" [value]="opt.menuId">{{opt.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" *ngIf="siteList&&siteList.length!==0"
                      style="float: left;width: 80%;;margin-right: 1em">
        <mat-select placeholder="站点" [(ngModel)]="siteId" name="site">
          <mat-option *ngFor="let opt of siteList" [value]="opt.menuId">{{opt.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" type="button" (click)="search()" style="float:left;">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button" (click)="reset()" style="float:left;">
        <mat-icon>autorenew</mat-icon>
      </button>
    </form>
    <div *ngIf="!appointmentTable.lists&&appointmentTable.loading">Loading...</div>
    <div *ngIf="!appointmentTable.lists&&!appointmentTable.loading&&!!appointmentTable.errorMessage" class="center">
      {{appointmentTable.errorMessage}}
    </div>
    <div *ngIf="appointmentTable.lists">
      <div *ngIf="flag">
        <button mat-raised-button color="primary" (click)="passAll(appointmentTable.lists)"
                [disabled]="auditValid()">审核通过
        </button>
      </div>
      <div class="content__table">
        <app-lib-table
          [table]="appointmentTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getData($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
