<app-container [config]="containerConfig">
  <div class="content">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="getValues(form.value)">
      <app-input-text [form]="form" [data]="config[0]" [(value)]="config[0].value"></app-input-text>
      <app-input-text [form]="form" [data]="config[1]" [(value)]="config[1].value"
                      (valueChange)="getValidName($event)"></app-input-text>
      <app-input-text [form]="form" [data]="config[2]" [(value)]="config[2].value"></app-input-text>
      <app-input-text [form]="form" [data]="config[3]" [(value)]="config[3].value"></app-input-text>
      <app-input-text [form]="form" [data]="config[4]" [(value)]="config[4].value"></app-input-text>
      <app-input-text [form]="form" [data]="config[5]" [(value)]="config[5].value"></app-input-text>
      <button md-raised-button color="primary" [disabled]="!form.valid">保存</button>
      <button md-raised-button type="reset">重置</button>
    </form>
  </div>
</app-container>
