@import '../../../../libs/theme/theme';

.input-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding: 15px;
}

.input-span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
}

.input-error {
  font-size: 12px;
  color: #f44336;
}

.tree__title {
  height: 55px;
  line-height: 40px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border-dark;
  .p {
    display: inline-block;
    padding-right: 30px;
  }
  .button {
    float: right;
  }
}

.tree__p {
  height: 40px;
  width: auto;
  color: $color-text-secondary;
  overflow: hidden;
}

.tree__icon {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.tree__icon.last {
  cursor: initial;
}

.tree__span {
  float: left;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-right: 15px;
  font-size: 16px;
  cursor: pointer;
}

.tree__span.last {
  cursor: initial;
}

.tree__span.active {
  color: $color-dark;
  border: 1px solid $color-dark;
  padding-left: 10px;
  font-size: 18px;
}

.tree__list {
  padding-left: 30px;
}

.tree__icon.type {
  cursor: initial;
  font-size: 9px;
  width: 8px;
}

.center {
  color: #f57c00;
}

.site {
  color: #fbc02d;
}

.department {
  color: #afb42b;
  margin-left: 34px;
}

.block {
  font-size: 20px;
  cursor: initial;
}
