<app-container [config]="containerConfig">
  <div class="addition" *ngIf="permission">
    <button mat-raised-button (click)="newData()">添加文章</button>
  </div>
  <div class="content">
    <form style="padding: 0 16px">
      <mat-form-field floatPlaceholder="always" style="margin-right: 1em">
        <input matInput placeholder="文章标题" name="title" [(ngModel)]="title">
      </mat-form-field>
      <mat-form-field floatPlaceholder="always" style="margin-right: 1em">
        <mat-select placeholder="资讯分类" [(ngModel)]="classifyId" name="center">
          <mat-option *ngFor="let opt of classifyList" [value]="opt.id">{{opt.categoryName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <app-search style="width:300px;margin-right: 1em;" [type]="'1'" [label]="'请选择日期范围'"
                  [(value)]="queryTime"></app-search>
      <button mat-icon-button color="primary" type="button" (click)="getArticles(0)">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button" (click)="reset()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </form>
    <div *ngIf="!articleTable.lists&&articleTable.loading">Loading...</div>
    <div *ngIf="!articleTable.lists&&!articleTable.loading&&!!articleTable.errorMessage" class="center">
      {{articleTable.errorMessage}}
    </div>
    <div *ngIf="articleTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="articleTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getArticles($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
