<app-container [config]="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">新增角色</button>
  </div>
  <div class="content">
    <form>
      <mat-input-container>
        <input matInput type="text" placeholder="角色名称搜索" name="queryKey" [(ngModel)]="roleTable.queryKey">
      </mat-input-container>
      <button mat-icon-button color="primary" type="button" (click)="getRoles()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button" (click)="reset()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </form>
    <div *ngIf="!roleTable.lists&&roleTable.loading">Loading...</div>
    <div *ngIf="!roleTable.lists&&!roleTable.loading&&!!roleTable.errorMessage" class="center">
      {{roleTable.errorMessage}}
    </div>
    <div *ngIf="roleTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="roleTable"
          (handleEmmit)="gotoHandle($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
